models/24-7-L1-Short.mmap
models/24-7-L2-Short.mmap
models/24-7-L3-Short.mmap
models/24-7-L4-Short.mmap
models/24-7-L5-Short.mmap
models/24-7-L6-Short.mmap
models/24-7-L7-Short.mmap
stockfish/
__pycache__/